<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein - About</title>
</head>
<body>
    <div id="about-container" class="body-container">
        <header>
            <ul>
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Works</li></a>
                <a href="#"><li>Gallery</li></a>
                <a href="#"><li>About</li></a>
            </ul>
        </header>
        <main id="main-container">
            <div id="img-container">
                <img src="/images/einstein.jpeg" width="300" height="auto" alt="Einstein photo">
            </div>
            <article id="description">
                <p> Albert Einstein, (born March 14, 1879, Ulm, Württemberg, Germany—died April 18, 1955, Princeton, New Jersey, U.S.), German-born physicist who developed the special and general theories of relativity and won the Nobel Prize for Physics in 1921 for his explanation of the photoelectric effect. Einstein is generally considered the most influential physicist of the 20th century. Read more <a href="https://en.wikipedia.org/wiki/Albert_Einstein"> here</a>.</p>
            </article>

        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
</body>
</html>