<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="home">
    <div id="home-container" class="body-container">
        <header>
            <ul class="nav-bar">
                <a href="#" class="selected" ><li>Home</li></a>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Works</li></a>
                <a href="#"><li>Gallery</li></a>
            </ul>
        </header>
        <main id="main-container">

            <h1> Wellcome! This is a <br> Albert Einstein tribute page</h1>
            
            <div id="img-container">
                <img src="/images/einstein.jpeg" width="350" height="auto" alt="Einstein photo">
            </div>

        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
    
</body>
</html>