<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein - Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="pages-body">
    <div id="gallery-container" class="body-container">
        <header>
            <ul class="nav-bar">
                <a href="http://localhost:3000/home"><li>Home</li></a>
                <a href="http://localhost:3000/about"><li>About</li></a>
                <a href="http://localhost:3000/works"><li>Works</li></a>
                <a href="http://localhost:3000/gallery" class="selected"><li>Gallery</li></a>
            </ul>
        </header>
        <main id="main-container">
            
            <h1>Gallery</h1>

            <section id="images-container">
                <div>
                    <img src="/images/einstein-age-14.jpeg" height="180" width="auto" alt="Einstein at the age of 14">
                    <p>Einstein at the age of 14</p>
                    <img src="/images/einstein-berlim.jpeg" width="235" height="auto" alt="Einstein in Berlim">
                    <p>Einstein in Berlim</p>
                </div>
                <div>
                    <img src="/images/einstein-solvay-conference.jpeg" width="auto" height="305" alt="Einstein at the Solvay conference">
                    <p>Einstein at the Solvay conference</p>
                    <img src="/images/einstein-violin.png" height="220" width="auto" alt="Einstein playing violin">
                    <p>Einstein playing violin</p>
                </div>
                <div>
                    <img src="/images/einstein-and-sister-age-5.jpeg" width="235" height="auto" alt="Einstein and is sister Maja">
                    <p>Einstein and is sister Maja when kids</p>
                    <img src="/images/einstein-elsa.jpeg" height="180" width="auto" alt="Einstein and his wife Elsa">
                    <p>Einstein and his wife Elsa</p>
                </div>
                
            </section>

            
        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
</body>
</html>