<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein - Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="pages-body">
    <div id="works-container" class="body-container">
        <header>
            <ul class="nav-bar">
                <a href="http://localhost:3000/home"><li>Home</li></a>
                <a href="http://localhost:3000/about"><li>About</li></a>
                <a href="http://localhost:3000/works"><li>Works</li></a>
                <a href="http://localhost:3000/gallery" class="selected"><li>Gallery</li></a>
            </ul>
        </header>
        <main id="main-container">
            
            <h2>Gallery</h2>

        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
</body>
</html>