<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein - Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="pages-body">
    <div id="works-container" class="body-container">
        <header>
            <ul class="nav-bar">
                <a href="http://localhost:3000/home"><li>Home</li></a>
                <a href="http://localhost:3000/about"><li>About</li></a>
                <a href="http://localhost:3000/works" class="selected"><li>Works</li></a>
                <a href="http://localhost:3000/gallery"><li>Gallery</li></a>
            </ul>
        </header>
        <main class="main-container">
            
            <h2>Most known works</h2>
            <ul>
                <li> <b>General theory of relativity</b>, is the geometric theory of gravitation. Read more <a href="https://en.wikipedia.org/wiki/General_relativity"> here</a>.</li>
                <li> <b>Special theory of relativity</b>, is a scientific theory regarding the relationship between space and time. Read more <a href="https://en.wikipedia.org/wiki/Special_relativity"> here</a>.</li>
                <li> <b>Photoelectric effect</b>, is the emission of electrons when electromagnetic radiation, such as light, hits a material. Read more <a href="https://en.wikipedia.org/wiki/Photoelectric_effect"> here</a>.</li>
                <li> <b> Mass-energy equivalence (E=mc2)</b>, is the relationship between mass and energy in a system's rest frame, where the two values differ only by a constant and the units of measurement.Read more <a href="https://en.wikipedia.org/wiki/Mass%E2%80%93energy_equivalence"> here</a>.</li>
                <li> <b>Planck-Einstein relation</b>, is a fundamental equation in quantum mechanics which states that the energy of a photon, E, known as photon energy, is proportional to its frequency. Read more <a href="https://en.wikipedia.org/wiki/Planck%E2%80%93Einstein_relation"> here</a>.</li>
            </ul>

        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
</html>