<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albert Einstein - Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="pages-body">
    <div id="works-container" class="body-container">
        <header>
            <ul class="nav-bar">
                <a href="http://localhost:3000/home"><li>Home</li></a>
                <a href="http://localhost:3000/about"><li>About</li></a>
                <a href="http://localhost:3000/works" class="selected"><li>Works</li></a>
                <a href="http://localhost:3000/gallery"><li>Gallery</li></a>
            </ul>
        </header>
        <main class="main-container">
            
            <h2>Most known works</h2>
            <ul>
                <li> General relativity, also known as the general theory of relativity, is the geometric theory of gravitation. Read more <a href="https://en.wikipedia.org/wiki/General_relativity"> here</a>.</li>
                <li>special theory of relativity, or special relativity for short, is a scientific theory regarding the relationship between space and time. Read more <a href="https://en.wikipedia.org/wiki/Special_relativity"> here</a></li>
            </ul>

        </main>
        <footer><small>Made by Vitor A. &copy; Ironhack Lisbon 2022</small></footer>
    </div>
</html>